.message {
    padding: 15px; 
    margin: 0;
}


.brochure-download{
        background-color: #CCC;
        padding: 20px;
}

.brochure-message { background-color: #C9E5C6; padding: 15px; margin: 0; }

.brochure-error { background-color: #E5C6CD; padding: 15px; margin: 0; }

.brochure-main { margin-top:5px;}

#block-brochure-brochure .block-title {
background: url("../images/heading-style.jpg") left top no-repeat;
font-size: 18px;
margin-bottom: 20px;
cursor: pointer;
}

/* .ng-scope{ display:none; } */
