html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline;
margin:0;
padding:0;
}

body {
line-height:1;
}

ol,ul {
list-style:none;
}

table {
border-collapse:collapse;
border-spacing:0;
}

caption,th,td {
text-align:left;
font-weight:400;
vertical-align:middle;
}

q,blockquote {
quotes:none;
}

q:before,q:after,blockquote:before,blockquote:after {
content:none;
}

a img {
border:none;
}

.recaptcha_widget {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
max-width:300px;
border:4px solid #AF1500;
-webkit-border-radius:4px;
-moz-border-radius:4px;
-ms-border-radius:4px;
-o-border-radius:4px;
border-radius:4px;
background:#AF1500;
margin:0 0 10px;
}

#recaptcha_image {
width:100%!important;
height:auto!important;
}

#recaptcha_image img {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
width:100%;
height:auto;
-webkit-border-radius:2px;
-moz-border-radius:2px;
-ms-border-radius:2px;
-o-border-radius:2px;
border-radius:2px;
border:3px solid #FFF;
}

.recaptcha_is_showing_audio embed {
height:0;
width:0;
overflow:hidden;
}

.recaptcha_is_showing_audio #recaptcha_image {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
width:100%;
height:60px;
background:#FFF;
-webkit-border-radius:2px;
-moz-border-radius:2px;
-ms-border-radius:2px;
-o-border-radius:2px;
border-radius:2px;
border:3px solid #FFF;
}

.recaptcha_input {
background:#FFDC73;
color:#000;
font:13px/1.5 HelveticaNeue,"Helvetica Neue",Helvetica,Arial,"Liberation Sans",FreeSans,sans-serif;
border:4px solid #FFDC73;
-webkit-border-radius:2px;
-moz-border-radius:2px;
-ms-border-radius:2px;
-o-border-radius:2px;
border-radius:2px;
margin:4px 0 0;
padding:0 4px 4px;
}

.recaptcha_input label {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
margin:0 0 6px;
}

.recaptcha_input input {
width:100%;
}

.recaptcha_options {
list-style:none;
height:18px;
margin:4px 0 0;
}

.recaptcha_options li {
float:left;
margin:0 4px 0 0;
}

.recaptcha_options li a {
text-decoration:none;
text-shadow:0 1px 1px #000;
font-size:16px;
color:#FFF;
display:block;
width:20px;
height:18px;
}

.recaptcha_options li a:active {
position:relative;
top:1px;
text-shadow:none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,.recaptcha_is_showing_audio #recaptcha_image #recaptcha_audio_download {
display:block;
}

.recaptcha_is_showing_audio #recaptcha_image br,.captcha_hide {
display:none;
}
